input
{<input id="night_day" type="button" value="night" onclick="
  var target = document.querySelector('body');
  if(this.value === 'night'){
    target.style.backgroundColor = 'black';
    target.style.color = 'white';
    this.value = 'day';
  } else {
    target.style.backgroundColor = 'white';
    target.style.color = 'black';
    this.value = 'night';

</input>}
}
a {
  color:black;
  text-decoration: none;
}
#active{
  color:red;
}
h2{
  font-size:45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
ol{
  border-right:none solid gray;
  width:100px;
  margin:0;
  padding:20px;
}
body{
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
/* #grid ol{ */
  /* padding-left:33px; */
/* } */
#article{
  padding-left: 25px;
}
#webmac{
  width : 50%;
  padding-top: 20px;
}
#macbook{
  width: 500px;
  height: 400px;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
  img{
    width:auto;
  }
}
